:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navyblue: #2e2f42;
  --color-slate: #434455;
  --color-white: white;
  --color-cloud: #f4f4fd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block; max-width: 100%; height: auto;
}

.header-style {
  border-bottom: 1px solid #e7e9fc;
  background-color: var(--color-white);
}

.header-container {
  display: flex;
}

.nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 40px;
}
.nav-margin-right {
  margin-right: 0;
}
}

.nav-menu-link {
  color: var(--color-navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-right: 40p;
  padding: 24px 0;
  text-decoration: none;
}

.nav-menu-link:hover {
  color: var(--color-ocean);
}

.nav-menu-link:focus {
  color: var(--color-ocean);
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-iris);
  text-transform: uppercase;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.link {
  text-decoration: none;
}

.logo .studio-highlight {
  color: var(--color-navyblue);
}

.header-list {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-navyblue);
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.header-list-type {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.address-list {
  color: var(--color-slate);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-right: 40px;
  text-decoration: none;
}

.address-list:hover {
  color: var(--color-ocean);
}
.address-list:focus {
  color: var(--color-ocean);
}

.section-container {
  background-color: var(--color-navyblue);
  padding: 188px 0;
}

.header-index {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.button-header {
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--color-iris);
  cursor: pointer;
  display: block;
  justify-content: center;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 636px;
}

.button-header:hover {
  background-color: var(--color-ocean);
}

.button-header:focus {
  background-color: var(--color-ocean);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.nav-button {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  justify-content: center;
}

.button-style {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background: var(--color-cloud);
  cursor: pointer;
}

button:hover {
  background: var(--color-ocean);
  color: var(--color-white);
}

button:focus {
  background: var(--color-ocean);
  color: var(--color-white);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1158px;
}

.section {
  padding: 120px 0;
}

.list-wrapper {
  display: flex;
  list-style: none;
  gap: 24px;
}

.list-item {
  flex-basis: calc((100% - 72px) / 4));
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.6;
  background-color: var(--color-white);
}

.background {
  background-color: var(--color-white);
}

.section-tree {
  padding-bottom: 120px;
}

.title-style {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-navyblue);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.photo-item {
  flex-basis: calc((100% - 3 * 16px) / 3));
}

.location {
  text-align: center;
}

.section-four {
  background-color: var(--color-cloud);
  padding-top: 120px; 
  padding-bottom: 120px;
}

.section-list-style {
  background-color: var(--color-white);
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.header-list-wrapper {
  padding-top: 32px; 
  padding-bottom: 32px; 
  padding-left: 16px; 
  padding-right: 16px;
}

.name-list {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-navyblue);
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px; 
}

.position-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  text-align: center;
}

.photo-list-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navyblue);
}

.photo-list-type {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-slate);
  letter-spacing: 0.02em;
}

.footer-container {
  padding: 100px 0;
}

.page-footer {
  background: var(--color-navyblue);
}

.footer-highlight {
  color: var(--color-cloud);
}

.footer-text {
  color: var(--color-cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
